<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <title>Request Items</title>
  </head>
  <body>

    <!-- Navigation Bar, links are disabled -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand">Request Manager</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Features</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Items</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Other</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- For buttons -->
    <div style="padding: 1rem 1rem 0rem 1rem;" class="container-fluid">
      <a type="button" class="btn btn-success" href="/new">Request New Item</a>
    </div>

    <!-- For table comment tab, delete if won't use -->

    <!-- <a class="btn btn-outline-light btn-sm" data-bs-toggle="collapse" href="#collapseExample"th:="${item.id}" role="button" aria-expanded="false" aria-controls="collapseExample">
      Open Comment
    </a>
    <div class="collapse" id="collapseExample"th:="${item.id}">
      <div class="card card-body">
        <p style="color: black" th:text="${requestItem.comment}"/>
      </div>
    </div> -->

    <!-- Table of Request Items -->

    <div class="container-fluid p-3">
      <table class="table table-dark table-striped" border="1" cellpadding="8">
      		<thead>
      			<tr>
      				<th>ID</th>
      				<th>Processor</th>
      				<th>Cores</th>
              <th>Comment</th>
              <th>Time</th>
              <th>Status</th>
      				<th>Actions</th>
      			</tr>
      		</thead>

      		<tbody>
            <!-- Loop each value of items into the table from items List passed by the RequestItemController -->
      			<tr th:each="requestItem : ${items}">
      				<td th:text="${requestItem.id}">ID</td>
      				<td class="col-1" th:text="${requestItem.name}">Name</td>
      				<td class="col-1" th:text="${requestItem.parameter}">Parameter</td>
              <td class="col-3">
                <p th:text="${requestItem.comment}"/>
              </td>
  						<td class="col-2" th:text="${requestItem.timeStamp}">Time Stamp</td>
              <td class="col-1" th:text="${requestItem.status}">Status</td>
  						<td class="col">
                <div class="btn-toolbar col-xs-3">
                  <a class="btn btn-outline-light btn-sm btn-block" style="margin-right: 5px" th:href="@{'/setstatus/' + ${requestItem.id}}">Set Status</a>
                  <a class="btn btn-outline-danger btn-sm btn-block" th:href="@{'/delete/' + ${requestItem.id}}">Delete</a>
                </div>
              </td>
      			</tr>
      		</tbody>
      	</table>
    </div>

    <!-- Footer  -->
    <footer class="bg-light text-center text-lg-start fixed-bottom">
      <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
        © 2021 Copyright:JB
      </div>
    </footer>
    <!-- End of Footer -->

    <!-- Bootstrap js Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <!-- Other Scripts -->
  </body>
</html>
